.sidebar-full {
    display: flex;
    flex-direction: column;
    background-color: #050505;
    min-width: 20%;
    min-height: 100%;
    position: absolute; 
}

.main-logo {
    display: flex;  
    padding-top: 15px;
    padding-left: 30px; 
    padding-bottom: 10px;
}

.logo-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    margin-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
}


.sidebar-full hr{
    margin-top: 20px;
    width: 340px;
    border-color: #545454;
}
