.sidebar-flex{
    display: flex;
    flex-direction: column;
    background-color: #050505;
    min-width: 350px;
    width: 350px;
    padding-bottom: 80px;
}


.logo-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

.sidebar-logo{
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-side-bar{
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
}

.nav-side-bar li {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100%;
}